---
import { buildPageTitle, PAGE_TITLES, SITE_DESCRIPTION } from '../consts';

interface Props {
	title?: string;
	description?: string;
	bodyClass?: string;
}

const {
	title = buildPageTitle(PAGE_TITLES.home),
	description = SITE_DESCRIPTION,
	bodyClass = 'is-preload landing',
} = Astro.props;
---

<!DOCTYPE HTML>
<html lang="es">
	<head>
		<title>{title}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content={description} />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/custom.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class={bodyClass}>
		<slot />

		<!-- Scripts (HTML5UP template) -->
		<script src="/assets/js/jquery.min.js" is:inline></script>
		<script src="/assets/js/jquery.scrolly.min.js" is:inline></script>
		<script src="/assets/js/jquery.dropotron.min.js" is:inline></script>
		<script src="/assets/js/jquery.scrollex.min.js" is:inline></script>
		<script src="/assets/js/browser.min.js" is:inline></script>
		<script src="/assets/js/breakpoints.min.js" is:inline></script>
		<script src="/assets/js/util.js" is:inline></script>
		<script src="/assets/js/main.js" is:inline></script>
		<script is:inline>
			(function () {
				function triggerScroll() {
					try {
						if (window.jQuery) window.jQuery(window).trigger('scroll');
						else window.dispatchEvent(new Event('scroll'));
					} catch (_) {
						// no-op
					}
				}

				// Al cargar directo en /#seccion, o al cambiar el hash, fuerza a scrollex a recalcular.
				window.addEventListener('load', function () {
					setTimeout(triggerScroll, 0);
					setTimeout(triggerScroll, 200);
				});
				window.addEventListener('hashchange', function () {
					setTimeout(triggerScroll, 0);
				});
			})();
		</script>
	</body>
</html>
